In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
loans = pd.read_csv('lending-club-data.csv')

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
loans['safe_loans'] = loans['bad_loans'].apply(lambda x : +1 if x==0 else -1)
loans

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none,safe_loans
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,1.0,1.0,1.0,0,8.143500,20141201T000000,1,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,1.0,1.0,1.0,1,2.393200,20161201T000000,1,1,1,-1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1.0,1.0,1.0,0,8.259550,20141201T000000,1,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,1.0,1.0,1.0,0,8.275850,20141201T000000,0,1,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,1.0,1.0,1.0,0,5.215330,20141201T000000,1,1,1,1
5,1072053,1288686,3000,3000,3000,36 months,18.64,109.43,E,E1,...,1.0,1.0,1.0,0,2.735750,20141201T000000,1,1,1,1
6,1071795,1306957,5600,5600,5600,60 months,21.28,152.39,F,F2,...,1.0,1.0,1.0,0,4.571700,20161201T000000,1,1,1,-1
7,1071570,1306721,5375,5375,5350,60 months,12.69,121.45,B,B5,...,1.0,1.0,1.0,1,9.716000,20161201T000000,1,1,1,-1
8,1070078,1305201,6500,6500,6500,60 months,14.65,153.45,C,C3,...,1.0,1.0,1.0,0,2.557500,20161201T000000,1,1,1,1
9,1069908,1305008,12000,12000,12000,36 months,12.69,402.54,B,B5,...,1.0,1.0,1.0,0,6.440640,20141201T000000,1,1,1,1
10,1064687,1298717,9000,9000,9000,36 months,13.49,305.38,C,C1,...,1.0,1.0,1.0,1,12.215200,20141201T000000,1,1,1,-1
11,1069866,1304956,3000,3000,3000,36 months,9.91,96.68,B,B1,...,1.0,1.0,1.0,0,7.734400,20141201T000000,1,1,1,1
12,1069057,1303503,10000,10000,10000,36 months,10.65,325.74,B,B2,...,1.0,1.0,1.0,0,3.908880,20141201T000000,1,1,1,-1
13,1069759,1304871,1000,1000,1000,36 months,16.29,35.31,D,D1,...,1.0,1.0,1.0,1,1.513290,20141201T000000,1,1,1,1
14,1065775,1299699,10000,10000,10000,36 months,15.27,347.98,C,C4,...,1.0,1.0,1.0,0,9.942290,20141201T000000,0,1,1,1
15,1069971,1304884,3600,3600,3600,36 months,6.03,109.57,A,A1,...,1.0,1.0,1.0,0,1.195310,20141201T000000,1,1,1,1
16,1062474,1294539,6000,6000,6000,36 months,11.71,198.46,B,B3,...,0.0,1.0,1.0,0,2.835140,20141201T000000,0,1,1,1
17,1069742,1304855,9200,9200,9200,36 months,6.03,280.01,A,A1,...,1.0,1.0,1.0,0,4.342080,20141201T000000,1,1,1,1
18,1039153,1269083,21000,21000,21000,36 months,12.42,701.73,B,B4,...,1.0,1.0,1.0,0,8.019770,20141201T000000,1,1,1,-1
19,1069710,1304821,10000,10000,10000,36 months,11.71,330.76,B,B3,...,1.0,1.0,1.0,0,7.938240,20141201T000000,1,1,1,1
20,1069700,1304810,10000,10000,10000,36 months,11.71,330.76,B,B3,...,1.0,1.0,1.0,0,7.938240,20141201T000000,1,1,1,1
21,1069559,1304634,6000,6000,6000,36 months,11.71,198.46,B,B3,...,1.0,1.0,1.0,0,3.133580,20141201T000000,1,1,1,-1
22,1069697,1273773,15000,15000,15000,36 months,9.91,483.38,B,B1,...,1.0,1.0,1.0,0,6.304960,20141201T000000,1,1,1,1
23,1069800,1304679,15000,15000,8725,36 months,14.27,514.64,C,C2,...,1.0,1.0,1.0,0,10.292800,20141201T000000,1,1,1,-1
24,1069657,1304764,5000,5000,5000,60 months,16.77,123.65,D,D2,...,0.0,1.0,1.0,0,2.967360,20161201T000000,0,1,1,-1
25,1069799,1304678,4000,4000,4000,36 months,11.71,132.31,B,B3,...,0.0,1.0,1.0,0,1.497850,20141201T000000,0,1,1,1
26,1047704,1278806,8500,8500,8500,36 months,11.71,281.15,B,B3,...,1.0,1.0,1.0,1,13.495200,20141201T000000,1,1,1,1
27,1032111,1261745,4375,4375,4375,36 months,7.51,136.11,A,A3,...,1.0,1.0,1.0,0,9.547110,20141201T000000,1,1,1,1
28,1069539,1304608,31825,31825,31825,36 months,7.90,995.82,A,A4,...,1.0,1.0,1.0,0,15.933100,20141201T000000,1,1,1,1
29,1069591,1304289,5000,5000,5000,36 months,8.90,158.77,A,A5,...,1.0,1.0,1.0,0,7.923970,20141201T000000,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122577,10086164,11938206,9000,9000,9000,36 months,7.90,281.62,A,A4,...,1.0,1.0,1.0,0,9.133620,20170101T000000,1,1,1,1
122578,10166062,12018153,15000,15000,15000,60 months,24.08,432.22,F,F2,...,1.0,1.0,1.0,0,7.409490,20190101T000000,1,1,1,1
122579,10106041,11958114,21000,21000,20800,36 months,10.99,687.42,B,B2,...,0.0,1.0,1.0,0,13.158000,20170101T000000,0,1,1,1
122580,10086141,1886905,7000,7000,6900,36 months,13.53,237.65,B,B5,...,1.0,1.0,1.0,0,6.632090,20170101T000000,1,1,1,-1
122581,10115896,11967980,8250,8250,8250,36 months,16.24,291.03,C,C5,...,1.0,1.0,1.0,1,10.582900,20170101T000000,1,1,1,1
122582,10075730,11927830,10000,10000,10000,60 months,18.25,255.30,D,D3,...,1.0,1.0,1.0,0,8.654240,20190101T000000,0,1,1,1
122583,10075541,11927650,9450,9450,9450,36 months,15.61,330.42,C,C4,...,1.0,1.0,1.0,1,14.685300,20170101T000000,0,1,1,-1
122584,10214568,12066719,12375,12375,12375,36 months,14.98,428.87,C,C3,...,0.0,1.0,1.0,0,17.154800,20170101T000000,0,1,1,1
122585,8944858,10736981,27575,27575,27575,60 months,19.97,730.11,D,D5,...,1.0,1.0,1.0,0,11.681800,20190101T000000,0,1,1,1
122586,10175470,12027558,18000,18000,18000,60 months,21.48,491.84,E,E2,...,0.0,1.0,1.0,0,10.692200,20190101T000000,0,1,1,1
122587,9654640,11506781,28000,28000,28000,60 months,14.98,665.83,C,C3,...,1.0,1.0,1.0,0,6.341240,20190101T000000,1,1,1,-1
122588,10075202,11927320,14000,14000,14000,36 months,8.90,444.55,A,A5,...,1.0,1.0,1.0,0,3.556400,20170101T000000,1,1,1,1
122589,10105178,11957289,24000,24000,23800,60 months,13.98,558.19,C,C1,...,1.0,1.0,1.0,0,7.442530,20190101T000000,0,1,1,1
122590,10105115,9348848,10000,10000,10000,36 months,13.53,339.50,B,B5,...,1.0,1.0,1.0,1,11.010800,20170101T000000,1,1,1,-1
122591,9924735,11776875,28000,28000,28000,60 months,14.98,665.83,C,C3,...,1.0,1.0,1.0,0,6.658300,20190101T000000,1,1,1,1
122592,10104967,11957097,10000,10000,9925,36 months,11.99,332.10,B,B3,...,0.0,0.0,1.0,0,4.981500,20170101T000000,0,0,0,1
122593,10064734,11916874,17000,17000,17000,60 months,22.40,473.40,E,E3,...,1.0,1.0,1.0,0,8.115430,20190101T000000,0,1,0,1
122594,9808485,11660306,8000,8000,8000,36 months,14.98,277.25,C,C3,...,1.0,0.0,1.0,1,8.154410,20170101T000000,1,0,1,-1
122595,9001565,10792984,24000,24000,24000,60 months,14.47,564.31,C,C2,...,1.0,1.0,1.0,0,3.385860,20190101T000000,1,1,1,1
122596,9934676,11786815,35000,35000,35000,36 months,16.99,1247.68,D,D1,...,0.0,0.0,1.0,0,17.824000,20170101T000000,0,0,1,-1
122597,9828271,11680132,35000,35000,35000,60 months,23.40,994.73,E,E5,...,0.0,1.0,1.0,0,11.702700,20190101T000000,0,1,1,1
122598,9858164,11710004,5000,5000,5000,36 months,8.90,158.77,A,A5,...,1.0,1.0,1.0,0,1.465570,20170101T000000,1,1,1,1
122599,9767996,11619870,24000,24000,23925,60 months,25.83,716.16,G,G2,...,0.0,1.0,1.0,0,14.323200,20190101T000000,0,1,0,1
122600,7450630,1552101,6000,6000,6000,36 months,18.25,217.67,D,D3,...,1.0,1.0,1.0,1,2.720870,20170101T000000,0,1,1,1
122601,9825536,11677574,6000,6000,6000,36 months,13.53,203.70,B,B5,...,0.0,1.0,1.0,0,5.432000,20170101T000000,0,1,1,-1
122602,9856168,11708132,6000,6000,6000,60 months,23.40,170.53,E,E5,...,0.0,1.0,1.0,1,4.487630,20190101T000000,0,1,0,-1
122603,9795013,11647121,15250,15250,15250,36 months,17.57,548.05,D,D2,...,0.0,0.0,1.0,0,10.117800,20170101T000000,0,0,0,1
122604,9695736,11547808,8525,8525,8525,60 months,18.25,217.65,D,D3,...,0.0,1.0,1.0,0,6.958120,20190101T000000,0,1,0,-1
122605,9684700,11536848,22000,22000,22000,60 months,19.97,582.50,D,D5,...,1.0,0.0,1.0,0,8.961540,20190101T000000,1,0,1,-1
122606,9604874,11457002,2000,2000,2000,36 months,7.90,62.59,A,A4,...,0.0,1.0,1.0,0,0.904916,20170101T000000,0,1,1,1

In [5]:
loans.drop(['bad_loans'], 1)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none,safe_loans
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,1.0,1.0,1.0,0,8.143500,20141201T000000,1,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,1.0,1.0,1.0,1,2.393200,20161201T000000,1,1,1,-1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1.0,1.0,1.0,0,8.259550,20141201T000000,1,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,1.0,1.0,1.0,0,8.275850,20141201T000000,0,1,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,1.0,1.0,1.0,0,5.215330,20141201T000000,1,1,1,1
5,1072053,1288686,3000,3000,3000,36 months,18.64,109.43,E,E1,...,1.0,1.0,1.0,0,2.735750,20141201T000000,1,1,1,1
6,1071795,1306957,5600,5600,5600,60 months,21.28,152.39,F,F2,...,1.0,1.0,1.0,0,4.571700,20161201T000000,1,1,1,-1
7,1071570,1306721,5375,5375,5350,60 months,12.69,121.45,B,B5,...,1.0,1.0,1.0,1,9.716000,20161201T000000,1,1,1,-1
8,1070078,1305201,6500,6500,6500,60 months,14.65,153.45,C,C3,...,1.0,1.0,1.0,0,2.557500,20161201T000000,1,1,1,1
9,1069908,1305008,12000,12000,12000,36 months,12.69,402.54,B,B5,...,1.0,1.0,1.0,0,6.440640,20141201T000000,1,1,1,1
10,1064687,1298717,9000,9000,9000,36 months,13.49,305.38,C,C1,...,1.0,1.0,1.0,1,12.215200,20141201T000000,1,1,1,-1
11,1069866,1304956,3000,3000,3000,36 months,9.91,96.68,B,B1,...,1.0,1.0,1.0,0,7.734400,20141201T000000,1,1,1,1
12,1069057,1303503,10000,10000,10000,36 months,10.65,325.74,B,B2,...,1.0,1.0,1.0,0,3.908880,20141201T000000,1,1,1,-1
13,1069759,1304871,1000,1000,1000,36 months,16.29,35.31,D,D1,...,1.0,1.0,1.0,1,1.513290,20141201T000000,1,1,1,1
14,1065775,1299699,10000,10000,10000,36 months,15.27,347.98,C,C4,...,1.0,1.0,1.0,0,9.942290,20141201T000000,0,1,1,1
15,1069971,1304884,3600,3600,3600,36 months,6.03,109.57,A,A1,...,1.0,1.0,1.0,0,1.195310,20141201T000000,1,1,1,1
16,1062474,1294539,6000,6000,6000,36 months,11.71,198.46,B,B3,...,0.0,1.0,1.0,0,2.835140,20141201T000000,0,1,1,1
17,1069742,1304855,9200,9200,9200,36 months,6.03,280.01,A,A1,...,1.0,1.0,1.0,0,4.342080,20141201T000000,1,1,1,1
18,1039153,1269083,21000,21000,21000,36 months,12.42,701.73,B,B4,...,1.0,1.0,1.0,0,8.019770,20141201T000000,1,1,1,-1
19,1069710,1304821,10000,10000,10000,36 months,11.71,330.76,B,B3,...,1.0,1.0,1.0,0,7.938240,20141201T000000,1,1,1,1
20,1069700,1304810,10000,10000,10000,36 months,11.71,330.76,B,B3,...,1.0,1.0,1.0,0,7.938240,20141201T000000,1,1,1,1
21,1069559,1304634,6000,6000,6000,36 months,11.71,198.46,B,B3,...,1.0,1.0,1.0,0,3.133580,20141201T000000,1,1,1,-1
22,1069697,1273773,15000,15000,15000,36 months,9.91,483.38,B,B1,...,1.0,1.0,1.0,0,6.304960,20141201T000000,1,1,1,1
23,1069800,1304679,15000,15000,8725,36 months,14.27,514.64,C,C2,...,1.0,1.0,1.0,0,10.292800,20141201T000000,1,1,1,-1
24,1069657,1304764,5000,5000,5000,60 months,16.77,123.65,D,D2,...,0.0,1.0,1.0,0,2.967360,20161201T000000,0,1,1,-1
25,1069799,1304678,4000,4000,4000,36 months,11.71,132.31,B,B3,...,0.0,1.0,1.0,0,1.497850,20141201T000000,0,1,1,1
26,1047704,1278806,8500,8500,8500,36 months,11.71,281.15,B,B3,...,1.0,1.0,1.0,1,13.495200,20141201T000000,1,1,1,1
27,1032111,1261745,4375,4375,4375,36 months,7.51,136.11,A,A3,...,1.0,1.0,1.0,0,9.547110,20141201T000000,1,1,1,1
28,1069539,1304608,31825,31825,31825,36 months,7.90,995.82,A,A4,...,1.0,1.0,1.0,0,15.933100,20141201T000000,1,1,1,1
29,1069591,1304289,5000,5000,5000,36 months,8.90,158.77,A,A5,...,1.0,1.0,1.0,0,7.923970,20141201T000000,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122577,10086164,11938206,9000,9000,9000,36 months,7.90,281.62,A,A4,...,1.0,1.0,1.0,0,9.133620,20170101T000000,1,1,1,1
122578,10166062,12018153,15000,15000,15000,60 months,24.08,432.22,F,F2,...,1.0,1.0,1.0,0,7.409490,20190101T000000,1,1,1,1
122579,10106041,11958114,21000,21000,20800,36 months,10.99,687.42,B,B2,...,0.0,1.0,1.0,0,13.158000,20170101T000000,0,1,1,1
122580,10086141,1886905,7000,7000,6900,36 months,13.53,237.65,B,B5,...,1.0,1.0,1.0,0,6.632090,20170101T000000,1,1,1,-1
122581,10115896,11967980,8250,8250,8250,36 months,16.24,291.03,C,C5,...,1.0,1.0,1.0,1,10.582900,20170101T000000,1,1,1,1
122582,10075730,11927830,10000,10000,10000,60 months,18.25,255.30,D,D3,...,1.0,1.0,1.0,0,8.654240,20190101T000000,0,1,1,1
122583,10075541,11927650,9450,9450,9450,36 months,15.61,330.42,C,C4,...,1.0,1.0,1.0,1,14.685300,20170101T000000,0,1,1,-1
122584,10214568,12066719,12375,12375,12375,36 months,14.98,428.87,C,C3,...,0.0,1.0,1.0,0,17.154800,20170101T000000,0,1,1,1
122585,8944858,10736981,27575,27575,27575,60 months,19.97,730.11,D,D5,...,1.0,1.0,1.0,0,11.681800,20190101T000000,0,1,1,1
122586,10175470,12027558,18000,18000,18000,60 months,21.48,491.84,E,E2,...,0.0,1.0,1.0,0,10.692200,20190101T000000,0,1,1,1
122587,9654640,11506781,28000,28000,28000,60 months,14.98,665.83,C,C3,...,1.0,1.0,1.0,0,6.341240,20190101T000000,1,1,1,-1
122588,10075202,11927320,14000,14000,14000,36 months,8.90,444.55,A,A5,...,1.0,1.0,1.0,0,3.556400,20170101T000000,1,1,1,1
122589,10105178,11957289,24000,24000,23800,60 months,13.98,558.19,C,C1,...,1.0,1.0,1.0,0,7.442530,20190101T000000,0,1,1,1
122590,10105115,9348848,10000,10000,10000,36 months,13.53,339.50,B,B5,...,1.0,1.0,1.0,1,11.010800,20170101T000000,1,1,1,-1
122591,9924735,11776875,28000,28000,28000,60 months,14.98,665.83,C,C3,...,1.0,1.0,1.0,0,6.658300,20190101T000000,1,1,1,1
122592,10104967,11957097,10000,10000,9925,36 months,11.99,332.10,B,B3,...,0.0,0.0,1.0,0,4.981500,20170101T000000,0,0,0,1
122593,10064734,11916874,17000,17000,17000,60 months,22.40,473.40,E,E3,...,1.0,1.0,1.0,0,8.115430,20190101T000000,0,1,0,1
122594,9808485,11660306,8000,8000,8000,36 months,14.98,277.25,C,C3,...,1.0,0.0,1.0,1,8.154410,20170101T000000,1,0,1,-1
122595,9001565,10792984,24000,24000,24000,60 months,14.47,564.31,C,C2,...,1.0,1.0,1.0,0,3.385860,20190101T000000,1,1,1,1
122596,9934676,11786815,35000,35000,35000,36 months,16.99,1247.68,D,D1,...,0.0,0.0,1.0,0,17.824000,20170101T000000,0,0,1,-1
122597,9828271,11680132,35000,35000,35000,60 months,23.40,994.73,E,E5,...,0.0,1.0,1.0,0,11.702700,20190101T000000,0,1,1,1
122598,9858164,11710004,5000,5000,5000,36 months,8.90,158.77,A,A5,...,1.0,1.0,1.0,0,1.465570,20170101T000000,1,1,1,1
122599,9767996,11619870,24000,24000,23925,60 months,25.83,716.16,G,G2,...,0.0,1.0,1.0,0,14.323200,20190101T000000,0,1,0,1
122600,7450630,1552101,6000,6000,6000,36 months,18.25,217.67,D,D3,...,1.0,1.0,1.0,1,2.720870,20170101T000000,0,1,1,1
122601,9825536,11677574,6000,6000,6000,36 months,13.53,203.70,B,B5,...,0.0,1.0,1.0,0,5.432000,20170101T000000,0,1,1,-1
122602,9856168,11708132,6000,6000,6000,60 months,23.40,170.53,E,E5,...,0.0,1.0,1.0,1,4.487630,20190101T000000,0,1,0,-1
122603,9795013,11647121,15250,15250,15250,36 months,17.57,548.05,D,D2,...,0.0,0.0,1.0,0,10.117800,20170101T000000,0,0,0,1
122604,9695736,11547808,8525,8525,8525,60 months,18.25,217.65,D,D3,...,0.0,1.0,1.0,0,6.958120,20190101T000000,0,1,0,-1
122605,9684700,11536848,22000,22000,22000,60 months,19.97,582.50,D,D5,...,1.0,0.0,1.0,0,8.961540,20190101T000000,1,0,1,-1
122606,9604874,11457002,2000,2000,2000,36 months,7.90,62.59,A,A4,...,0.0,1.0,1.0,0,0.904916,20170101T000000,0,1,1,1

In [19]:
features = ['grade',              # grade of the loan
            'term',               # the term of the loan
            'home_ownership',     # home_ownership status: own, mortgage or rent
            'emp_length',         # number of years of employment
           ]
target = 'safe_loans'
new_loans = loans[features + [target]]

In [20]:
#One Hot Encoding:
new_loans = pd.get_dummies(new_loans,  columns = features, prefix = features)

In [31]:
features = list(new_loans.columns)
features.remove('safe_loans')
print len(features)

25

In [36]:
with open('module-5-assignment-1-train-idx.json') as train_index_file:
    train_index_data = json.load(train_index_file)
train_idx = [int(x) for x in train_index_data]

In [35]:
with open('module-5-assignment-1-validation-idx.json') as valid_index_file:
    valid_index_data = json.load(valid_index_file)
test_idx = [int(x) for x in valid_index_data]

In [84]:
train_data = pd.DataFrame(new_loans.iloc[train_idx])
test_data = pd.DataFrame(new_loans.iloc[test_idx])

In [38]:
def intermediate_node_num_mistakes(labels_in_node):
    # Corner case: If labels_in_node is empty, return 0
    if len(labels_in_node) == 0:
        return 0    
    # Count the number of 1's (safe loans)
    safe_loans = len(labels_in_node[labels_in_node == 1])    
    # Count the number of -1's (risky loans)
    risky_loans = len(labels_in_node[labels_in_node == -1])                
    # Return the number of mistakes that the majority classifier makes.
    return min(safe_loans, risky_loans)

In [40]:
#Test:
example_labels = pd.Series([-1, -1, 1, 1, 1])
if intermediate_node_num_mistakes(example_labels) == 2:
    print 'Test passed!'
else:
    print 'Test 1 failed... try again!'

# Test case 2
example_labels = pd.Series([-1, -1, 1, 1, 1, 1, 1])
if intermediate_node_num_mistakes(example_labels) == 2:
    print 'Test passed!'
else:
    print 'Test 3 failed... try again!'
    
# Test case 3
example_labels = pd.Series([-1, -1, -1, -1, -1, 1, 1])
if intermediate_node_num_mistakes(example_labels) == 2:
    print 'Test passed!'
else:
    print 'Test 3 failed... try again!'

Test passed!
Test passed!
Test passed!

In [53]:
def best_splitting_feature(data, features, target):
    
    target_values = data[target]
    best_feature = None # Keep track of the best feature 
    best_error = 10     # Keep track of the best error so far 
    # Note: Since error is always <= 1, we should intialize it with something larger than 1.

    # Convert to float to make sure error gets computed correctly.
    num_data_points = float(len(data))  
    
    # Loop through each feature to consider splitting on that feature
    for feature in features:
        
        # The left split will have all data points where the feature value is 0
        left_split = data[data[feature] == 0]
        
        # The right split will have all data points where the feature value is 1
        ## YOUR CODE HERE
        right_split = data[data[feature] == 1] 
            
        # Calculate the number of misclassified examples in the left split.
        # Remember that we implemented a function for this! (It was called intermediate_node_num_mistakes)
        # YOUR CODE HERE
        left_mistakes = intermediate_node_num_mistakes(left_split[target])            

        # Calculate the number of misclassified examples in the right split.
        ## YOUR CODE HERE
        right_mistakes = intermediate_node_num_mistakes(right_split[target])
            
        # Compute the classification error of this split.
        # Error = (# of mistakes (left) + # of mistakes (right)) / (# of data points)
        ## YOUR CODE HERE
        error = (left_mistakes + right_mistakes) / num_data_points

        # If this is the best error we have found so far, store the feature as best_feature and the error as best_error
        ## YOUR CODE HERE
        if error < best_error:
            best_feature = feature
            best_error = error
    
    return best_feature # Return the best feature we found

In [43]:
def create_leaf(target_values):    
    # Create a leaf node
    leaf = {'splitting_feature' : None,
            'left' : None,
            'right' : None,
            'is_leaf': True}   ## YOUR CODE HERE 
   
    # Count the number of data points that are +1 and -1 in this node.
    num_ones = len(target_values[target_values == +1])
    num_minus_ones = len(target_values[target_values == -1])    

    # For the leaf node, set the prediction to be the majority class.
    # Store the predicted class (1 or -1) in leaf['prediction']
    if num_ones > num_minus_ones:
        leaf['prediction'] = 1      ## YOUR CODE HERE
    else:
        leaf['prediction'] = -1        ## YOUR CODE HERE        

    # Return the leaf node
    return leaf

In [91]:
def decision_tree_create(data, features, target, current_depth = 0, max_depth = 10):
    remaining_features = features[:] # Make a copy of the features.
    
    target_values = data[target]
    print "--------------------------------------------------------------------"
    print "Subtree, depth = %s (%s data points)." % (current_depth, len(target_values))
    

    # Stopping condition 1
    # (Check if there are mistakes at current node.
    # Recall you wrote a function intermediate_node_num_mistakes to compute this.)
    if  intermediate_node_num_mistakes(data[target])== 0:  ## YOUR CODE HERE
        print "Stopping condition 1 reached."     
        # If not mistakes at current node, make current node a leaf node
        return create_leaf(target_values)
    
    # Stopping condition 2 (check if there are remaining features to consider splitting on)
    if remaining_features == []:   ## YOUR CODE HERE
        print "Stopping condition 2 reached."    
        # If there are no remaining features to consider, make current node a leaf node
        return create_leaf(target_values)    
    
    # Additional stopping condition (limit tree depth)
    if current_depth >= max_depth:  ## YOUR CODE HERE
        print "Reached maximum depth. Stopping for now."
        # If the max tree depth has been reached, make current node a leaf node
        return create_leaf(target_values)

    # Find the best splitting feature (recall the function best_splitting_feature implemented above)
    splitting_feature = best_splitting_feature(data, remaining_features, target)

    
    # Split on the best feature that we found. 
    left_split = data[data[splitting_feature] == 0]
    right_split = data[data[splitting_feature] == 1]
    remaining_features.remove(splitting_feature)
    print "Split on feature %s. (%s, %s)" % (\
                      splitting_feature, len(left_split), len(right_split))
    
    # Create a leaf node if the split is "perfect"
    if len(left_split) == len(data):
        print "Creating leaf node."
        return create_leaf(left_split[target])
    if len(right_split) == len(data):
        print "Creating leaf node."
        return create_leaf(right_split[target])

        
    # Repeat (recurse) on left and right subtrees
    left_tree = decision_tree_create(left_split, remaining_features, target, current_depth + 1, max_depth)        
    ## YOUR CODE HERE
    right_tree = decision_tree_create(right_split, remaining_features, target, current_depth + 1, max_depth) 

    return {'is_leaf'          : False, 
            'prediction'       : None,
            'splitting_feature': splitting_feature,
            'left'             : left_tree, 
            'right'            : right_tree}

In [101]:
def classify(tree, x, annotate = False):
       # if the node is a leaf node.
    if tree['is_leaf']:
        if annotate:
             print "At leaf, predicting %s" % tree['prediction']
        return tree['prediction']
    else:
        # split on feature.
        split_feature_value = int(x[tree['splitting_feature']])
        if annotate:
             print "Split on %s = %s" % (tree['splitting_feature'], split_feature_value)
        if split_feature_value == 0:
            return classify(tree['left'], x, annotate)
        else:
            return classify(tree['right'], x, annotate)

In [93]:
if best_splitting_feature(train_data, features, 'safe_loans') == 'term_ 36 months':
    print 'Test passed!'
else:
    print 'Test failed... try again!'

Test passed!

In [94]:
my_decision_tree = decision_tree_create(train_data, features, target, current_depth = 0, max_depth = 6)

--------------------------------------------------------------------
Subtree, depth = 0 (37224 data points).
Split on feature term_ 36 months. (9223, 28001)
--------------------------------------------------------------------
Subtree, depth = 1 (9223 data points).
Split on feature grade_A. (9122, 101)
--------------------------------------------------------------------
Subtree, depth = 2 (9122 data points).
Split on feature grade_B. (8074, 1048)
--------------------------------------------------------------------
Subtree, depth = 3 (8074 data points).
Split on feature grade_C. (5884, 2190)
--------------------------------------------------------------------
Subtree, depth = 4 (5884 data points).
Split on feature grade_D. (3826, 2058)
--------------------------------------------------------------------
Subtree, depth = 5 (3826 data points).
Split on feature grade_E. (1693, 2133)
--------------------------------------------------------------------
Subtree, depth = 6 (1693 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 6 (2133 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 5 (2058 data points).
Split on feature grade_E. (2058, 0)
Creating leaf node.
--------------------------------------------------------------------
Subtree, depth = 4 (2190 data points).
Split on feature grade_D. (2190, 0)
Creating leaf node.
--------------------------------------------------------------------
Subtree, depth = 3 (1048 data points).
Split on feature emp_length_5 years. (969, 79)
--------------------------------------------------------------------
Subtree, depth = 4 (969 data points).
Split on feature grade_C. (969, 0)
Creating leaf node.
--------------------------------------------------------------------
Subtree, depth = 4 (79 data points).
Split on feature home_ownership_MORTGAGE. (34, 45)
--------------------------------------------------------------------
Subtree, depth = 5 (34 data points).
Split on feature grade_C. (34, 0)
Creating leaf node.
--------------------------------------------------------------------
Subtree, depth = 5 (45 data points).
Split on feature grade_C. (45, 0)
Creating leaf node.
--------------------------------------------------------------------
Subtree, depth = 2 (101 data points).
Split on feature emp_length_n/a. (96, 5)
--------------------------------------------------------------------
Subtree, depth = 3 (96 data points).
Split on feature emp_length_< 1 year. (85, 11)
--------------------------------------------------------------------
Subtree, depth = 4 (85 data points).
Split on feature grade_B. (85, 0)
Creating leaf node.
--------------------------------------------------------------------
Subtree, depth = 4 (11 data points).
Split on feature grade_B. (11, 0)
Creating leaf node.
--------------------------------------------------------------------
Subtree, depth = 3 (5 data points).
Split on feature grade_B. (5, 0)
Creating leaf node.
--------------------------------------------------------------------
Subtree, depth = 1 (28001 data points).
Split on feature grade_D. (23300, 4701)
--------------------------------------------------------------------
Subtree, depth = 2 (23300 data points).
Split on feature grade_E. (22024, 1276)
--------------------------------------------------------------------
Subtree, depth = 3 (22024 data points).
Split on feature grade_F. (21666, 358)
--------------------------------------------------------------------
Subtree, depth = 4 (21666 data points).
Split on feature emp_length_n/a. (20734, 932)
--------------------------------------------------------------------
Subtree, depth = 5 (20734 data points).
Split on feature grade_G. (20638, 96)
--------------------------------------------------------------------
Subtree, depth = 6 (20638 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 6 (96 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 5 (932 data points).
Split on feature grade_A. (702, 230)
--------------------------------------------------------------------
Subtree, depth = 6 (702 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 6 (230 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 4 (358 data points).
Split on feature emp_length_8 years. (347, 11)
--------------------------------------------------------------------
Subtree, depth = 5 (347 data points).
Split on feature grade_A. (347, 0)
Creating leaf node.
--------------------------------------------------------------------
Subtree, depth = 5 (11 data points).
Split on feature home_ownership_OWN. (9, 2)
--------------------------------------------------------------------
Subtree, depth = 6 (9 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 6 (2 data points).
Stopping condition 1 reached.
--------------------------------------------------------------------
Subtree, depth = 3 (1276 data points).
Split on feature grade_A. (1276, 0)
Creating leaf node.
--------------------------------------------------------------------
Subtree, depth = 2 (4701 data points).
Split on feature grade_A. (4701, 0)
Creating leaf node.

In [104]:
def evaluate_classification_error(tree, data, target):
    # Apply the classify(tree, x) to each row in your data
    prediction = data.apply(lambda x: classify(tree, x), axis = 1)
    
    # Once you've made the predictions, calculate the classification error and return it
    ## YOUR CODE HERE
    return len(data[data[target] != prediction]) / float(len(data))

In [105]:
evaluate_classification_error(my_decision_tree, test_data, 'safe_loans')

0.3837785437311504

In [102]:
classify(my_decision_tree, test_data.iloc[[0]], annotate = True)

Split on term_ 36 months = 0
Split on grade_A = 0
Split on grade_B = 0
Split on grade_C = 0
Split on grade_D = 1
At leaf, predicting -1

-1